In [1]:
from apriori import Apriori
import pandas as pd
import csv

In [2]:
# Test Dataset
# Took this test dataset from apriori-python repo
data = pd.read_csv('test_dataset/test1.csv')
data.head(10)

  handphone laptop charger powerbank tablet
0         t      t     NaN       NaN    NaN
1         t      t       t       NaN    NaN
2         t      t       t         t    NaN
3         t      t     NaN       NaN      t
4         t    NaN       t       NaN      t
5       NaN    NaN     NaN         t      t
6         t      t       t       NaN      t
7         t    NaN       t       NaN    NaN
8         t    NaN     NaN         t    NaN
9       NaN      t       t         t    NaN

# Own Algorithm

In [3]:
# Data Processing where we structure the data to fit our own implementation
# Create a dictionary where the key is the index and the value is a tuple of items
data_dict = data.apply(lambda row: (row.dropna().index.tolist()), axis=1).to_dict()
print(data_dict)

{0: ['handphone', 'laptop'], 1: ['handphone', 'laptop', 'charger'], 2: ['handphone', 'laptop', 'charger', 'powerbank'], 3: ['handphone', 'laptop', 'tablet'], 4: ['handphone', 'charger', 'tablet'], 5: ['powerbank', 'tablet'], 6: ['handphone', 'laptop', 'charger', 'tablet'], 7: ['handphone', 'charger'], 8: ['handphone', 'powerbank'], 9: ['laptop', 'charger', 'powerbank']}

In [ ]:
apriori_own = Apriori(data_dict, min_support=0.005)